<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bookface</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Query Oracle Database for Inputted Parameters</description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>cis550proj.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Friend</display-name>
    <servlet-name>Friend</servlet-name>
    <servlet-class>cis550proj.Friend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Friend</servlet-name>
    <url-pattern>/Friend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>cis550proj.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inbox</display-name>
    <servlet-name>Inbox</servlet-name>
    <servlet-class>cis550proj.Inbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/Inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>cis550proj.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOther</display-name>
    <servlet-name>AddOther</servlet-name>
    <servlet-class>cis550proj.AddOther</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOther</servlet-name>
    <url-pattern>/AddOther</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProfile</display-name>
    <servlet-name>CreateProfile</servlet-name>
    <servlet-class>cis550proj.CreateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProfile</servlet-name>
    <url-pattern>/CreateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOther</display-name>
    <servlet-name>DeleteOther</servlet-name>
    <servlet-class>cis550proj.DeleteOther</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOther</servlet-name>
    <url-pattern>/DeleteOther</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>cis550proj.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create</display-name>
    <servlet-name>Create</servlet-name>
    <servlet-class>cis550proj.Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>cis550proj.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Settings</display-name>
    <servlet-name>Settings</servlet-name>
    <servlet-class>cis550proj.Settings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Settings</servlet-name>
    <url-pattern>/Settings</url-pattern>
  </servlet-mapping>
</web-app>